.contenedor_producto {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  box-shadow: 12px 13px 10px -1px rgba(155, 155, 155, 0.8);
  border-radius: 10px;
  text-align: center;
  background: #dee2e6;
  margin: 20px;
}

.atras {
  color: #000;
  transform: rotateY(180deg);
}

.producto {
  width: 150px;
  border-radius: 10px;
  box-shadow: 12px 13px 10px -1px rgba(155, 155, 155, 0.8);
  transition: width 500ms ease;
}

.producto:hover {
  width: 250px;
}

.nombreProducto {
  color: #237fff;
  font-weight: 700;
}

.contenedor__botones {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
}

.descripcion {
  font-size: 0.9rem;
  margin: 10px;
}

.cta-detalle {
  background: #168aad;
}

.contenedor_producto_modal {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 5px 10px 6px -1px rgba(155, 155, 155, 0.8);
  border-radius: 10px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .contenedor__producto {
    gap: 30px;
  }
}

