.contenedor_producto {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  box-shadow: 12px 13px 10px -1px rgba(155, 155, 155, 0.8);
  border-radius: 10px;
  text-align: center;
  background: #dee2e6;
}



.atras {
  color: #000;
  transform: rotateY(180deg);
}

.producto {
  width: 150px;
}

.nombreProducto {
  color: #237fff;
  font-weight: 700;
}

.contenedor__botones {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
}

.descripcion {
  font-size: 0.9rem;
  margin: 10px;
}

.cta {
  padding: 15px;
  color: #fff;
  background: #2b83ff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.cta-detalle {
  background: #168aad;
}

.cta:hover {
  padding: 19px;
  transition: padding 50ms ease;
}

.contenedor_producto_modal {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  box-shadow: 5px 10px 6px -1px rgba(155, 155, 155, 0.8);
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .contenedor__producto {
    width: 90%;
    height: 600px;
  }
}
