.contenedor_producto {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
    box-shadow: 12px 13px 10px -1px rgba(155,155,155,0.8);
    border-radius: 10px;
    text-align: center;
}

.producto {
    width: 150px;
}

.nombreProducto {
    color: #237fff;
    font-weight: 700;
}

.descripcion {
    font-size: .9rem
}

.cta {
    padding:15px;
    color: #fff;
    background: #2b83ff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.cta:hover {
    padding: 19px;
    transition: padding 50ms ease;
}